{% extends "template/welcome.html" %}

{% block passage_block %}
    <div class="text-md-center">

        <row>
            {{ passage.id }}
            {{ passage.paragraph_id }}
            {{ passage.paragraph }}
        </row>
    </div>
    <div id="Passage">
        Start passage
    </div>

{% endblock passage_block %}



{% block js_block %}
    <script>
        var passage_container = document.getElementById("Passage");
        paragraph =  {{passage.paragraph|tojson}};

        paragraph = paragraph.split(" ");

        {#todo :  set the time and read every one sec#}
        for (word = 0; word < paragraph.length; word++) {
            setTimeout(function () {
                passage_container.innerText = paragraph[word];
                {#console.log(paragraph[word]);#}
            }, 1000);
        }


    </script>
{% endblock js_block %}