{% extends "template/welcome.html" %}

{% block passage_block %}


    <div class="card-body">

        <h2 class=" container text-center font-weight-bold blue-text shadow p-3 mb-5 rounded" style="background-color: #d1faff">{{ passage.name }}

        </h2>
        <div>
            <h3 id="Passage" class="text-center font-weight-bold blue-text mt-3 mb-4 pb-4   shadow p-3 mb-5 rounded">
            <input class="" type="hidden" id="passage_txt" value="{{ paragraphs }}">
            </h3>
        </div>

        <div class="text-md-center" id="slider-option">

            <div class="form-group ">
                <label for="formControlRange" id="words">
                    <h6>
                        <i id="words_per_sec">2</i> words per second

                    </h6>

                </label>
                <input type="range" class="form-control-range" id="slider" min="1" max="30" value="2">
            </div>
            <div>
                <button type="button" class="btn btn-info" id="start the passage">Start the passage</button>
            </div>
        </div>

    </div>

    <div>
        <h6 id="all_text"></h6>
    </div>
    <hr>
    <button class="btn btn-success text-center"  data-toggle="collapse" data-target="#questions">Questions</button><hr>
    <ol id="questions" class="collapse" >
        {% for question, options_, answer in questions %}
            <li type="A">
                {{ question.question }}
                <form id="question_id_{{ question.question_id }}">
                    {% for option in options_ %}
                        <input type="radio" name="gender" value="male" id="option_id_{{ option.option_id }}">
                        {{ option.option_text }}<br>
                    {% endfor %}
                    <div id="correct_answer" class="row row-height"><input type="hidden"></div>
                    <hr>
                </form>
            </li>
        {% endfor %}
        <button type="button" class="btn btn-success" id="submit">Submit</button>
    </ol>




{% endblock passage_block %}



{% block js_block %}
    <script>
        var passage_container = document.getElementById("Passage");
        var paragraph = document.getElementById("passage_txt").value;
        console.log(paragraph);
        paragraph = paragraph.split(" ");
        {#Setting the word length to be show at every sec #}
        {#get the slider#}
        var slider = document.getElementById("slider");

        var start_passage = document.getElementById('start the passage');
        {#setting the text of the slider#}
        slider.onclick = function () {

            document.getElementById('words_per_sec').innerText = document.getElementById('slider').value
        };
        {# set value to number of words #}
        var word = 0;
        var len = 2;

        function next_words(ind, len) {
            setTimeout(function () {
                passage_container.innerText = paragraph.slice(word, word + len).join(" ");

                word += len;
                if (word < paragraph.length) {
                    next_words(0, len)
                }
            }, 500);

        }

        start_passage.onclick = function () {
            word = 0;

            len = parseInt(document.getElementById('slider').value);
            start_passage.innerHTML = "Start Again";
            next_words(0, len);

        };

    </script>
{% endblock js_block %}